/* ======== Google Font ======== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* ======== Reset ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #020617;
    background-color: #ffffff;
    padding-inline: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ======== Chat ======== */
.chat-section {
    width: 460px;
}

.brand {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: .75rem;
}

.message-area {
    height: 75vh;
    padding: 1rem 1.25rem 1.5rem;
    margin-bottom: .5rem;
    border-radius: 1rem;
    background-color: #e2e8f0;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.message-area::-webkit-scrollbar {
    display: none;
}

.message {
    max-width: 75%;
}

.message__username {
    font-size: .85rem;
    font-weight: 600;
    color: #475569;
    margin-bottom: .25rem;
}

.message__text {
    padding: .5rem .75rem;
    border-radius: .5rem;
}

.message--incoming {
    align-self: start;
}

.message--incoming .message__text {
    background-color: #ffffff;
}

.message--outgoing {
    align-self: end;
}

.message--outgoing .message__username {
    text-align: right;
}

.message--outgoing .message__text {
    color: #ffffff;
    background-color: #0ea5e9;
}

.message-box {
    height: 50px;
    background-color: #e2e8f0;
    border-radius: 1rem;
}

.message-box__from {
    display: flex;
    align-items: center;
}

.message-box__input {
    width: 100%;
    padding: .85rem 1rem;
    color: #020617;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.message-box__send-button {
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 4px;
    padding: 6px 10px 5px 14px;
    background-color: transparent;
    border: none;
    border-radius: .8rem;
    cursor: pointer;
}